<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>

    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>
     <h2 class="headline">User Login</h2><br><br>
     <form name="newuser" method="post" action="/loginUser">
      <div class="form-group">
        <label for="inputEmail">Email Address</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <br><br>
      <button class="btn btn-default">New users can register here</button>
     </form>
  </main>

    <footer class="navbar-fixed-bottom">
      <% include partials/footer %>
    </footer>

  </body>
</html>